:root{
    --main-text-color: #e6cda5;
    --main-text-howver-color: #ad8d0b;
    --parchment-background-color: #FCF5E5;
    --parchment-dark-background-color: #979280;
}
body {
    font-family: "Book Antiqua", Georgia, Serif;
    color:var(--main-text-color);
}
a {
    color: var(--main-text-color);
    transition: 0.2s;
}
a:hover {
    color: var(--main-text-howver-color);
}
button{
  transition: 0.2s;
}
main{
  padding-bottom: 10rem;
}
.boss-card{
  background-color: var(--parchment-background-color);
  height: 100%;
}
.winners-card, .losers-card{
  border:5px solid var(--parchment-dark-background-color);
  border-radius: 12px;
  padding: 1px;
  margin: 3px;
  text-align: center;
}
#clear-button {
  display:block;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}